.form{
  padding:150px;
  height:476px;
  width:910px;
  background-size: cover;
}
.login1{
    
  background-color: lavenderblush;
  background-position:fixed;
  margin: 0;
}


.login-form {
    width: 350px;
    height:350px;
    margin-left:500px;

     padding: 50px; 
    background-color:rgb(255, 215, 228);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .login-form div {
    margin-bottom: 10px;
  }
  
  .login-form input[type='text'],
  .login-form input[type='email'],
  .login-form input[type='password'] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px ;
    padding: 5px;
    font-size: 16px;
  }
  
  .login-form button[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .login-form button[type='submit']:hover {
    background-color:cadetblue;
  }
  .textcenter{
    text-align: center;
  }