.form1{
    margin-top: 100px;
}

.main{
    padding: 80px;
    padding-left: 200px;
}

.title{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
  }

  .form1 button[type='submit'] {
    width: 90px;
    margin-left: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .form1 button[type='submit']:hover {
    background-color:rgb(71, 71, 71);
  }
  