/* .nav2 {
    display: flex;
  }
  */
  .main-content {
    flex-grow: 1;
   
  }
   
   .back
   {
    background-image:url("homebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   }

   .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: xx-large;
    text-align: center;   }

    .im
    {
     position: relative;
   margin-left:900px;
   padding: '200px';
   display: 'flex';
   flex-Direction: 'column';
   align-Items: 'flex-end'
    }

    .body{
      text-align: center;
      font-size:20px;
      line-height: 1.5;
      margin-top:150px;
      margin-left:250px;
      text-align:justify;
      margin-right: 500px;
      font-family:Georgia
    }

    .para{
      text-align: center;
    }

    .image{
      align-items: center
    }